mainmenu "Picobit Virtual Machine Configuration"

choice
	prompt "Target architecture"
	help
	  Select a platform to run Picobit VM on.
	  

	config	ARCH_HOST
		bool "Host executable"
		select ARCH_32BIT
		select ERROR_HANDLING
		select DEBUG_STRINGS
		help
		  Build Picobit as a host (Linux) executable for easy
		  debugging.
		  

	config	ARCH_ARM
		bool "ARM microcontrollers"
		select ARCH_32BIT
endchoice

config ERROR_HANDLING
	bool

config DEBUG_STRINGS
	bool

config ARCH_8BIT
	bool

config ARCH_32BIT
	bool

config ARCH
	string
	default "host" if ARCH_HOST
	default "arm" if ARCH_ARM

if ARCH_HOST
source "arch/host/Kconfig"
endif

if ARCH_ARM
source "arch/arm/Kconfig"
endif

source "core/Kconfig"
