choice
	prompt "Bignum precision"
	help
	  Code may be shrinked by omitting arbitrary
	  precision bignums.

	config BIGNUM_FIXED
		bool "Fixed 24-bit"
		help
		  A very small bignum implementation which has a fixed
		  precision. Currently it is only useful on 8-bit targets,
		  and bignums are 24 bit long.

	config BIGNUM_LONG
		bool "Arbitrary"
		help
		  Arbitrary precision bignums are represented by lists of
		  16-bit values, and computations are performed by helper
		  functions.
endchoice

config VM_DEBUG
	bool "Debug virtual machine"
	help
	  Enable virtual machine trace messages. Each instruction
	  will be printed before executing.

config GC_STATISTICS
	bool "Collect statistics in garbage collector"
	help
	  Enable measuring various memory allocation statistics.
	  Currently it is only a maximal number of live objects.

config GC_STATISTICS_PRIMITIVE
	depends on GC_STATISTICS
	bool "Export statistics to user program"
	help
	  Add a #%gc-max-live primitive.

config GC_DEBUG
	bool "Debug garbage collector"
	help
	  Enable garbage collector trace messages.

config GC_AGGRESSIVE
	bool "Aggressive GC"
	depends on GC_DEBUG
	help
	  Collect garbage before each allocation and not only
	  when VM has no free memory.
